
<script type="text/ng-template" id="home.htm">
    <div ng-controller="HomeController" class="home" ng-cloak>
        <p class="text-center text-muted" ng-if="model.loading">
    <span class="fa fa-spinner fa-spin fa-4x"></span>
    <br /><br />
    Processing, please wait...
</p>
        <span id="top"></span>
		        @Html.Partial("_LoginPartial")
        <div class="{{layout}}">
			<div class="row">
				<div class="col-12">
                    <h3>LOG</h3><br />
				</div>
			</div>
            <div class="row">
				<div class="col-12">
                  	<button class="btn btn-info" ng-click="LoadLog()">Load Log</button>
                    <button class="btn btn-info" ng-click="ClearLog()">Clear Log</button>
				</div>
			</div><br>
            <div class="row">
				<div class="col-12">
                  	<code ng-bind-html=model.log></code>
				</div>
			</div>
		</div>
    </div>
</script>

@*<div class="row">
        <div class="col-xs-12">
            <div id="avatar-carousel" class="carousel" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="~/Content/Images/avatar1.png">
                    </div>
                    <div class="item">
                        <img src="~/Content/Images/avatar2.png">
                    </div>
                    <div class="item">
                        <img src="~/Content/Images/avatar3.png">
                    </div>
                    <div class="item">
                        <img src="~/Content/Images/avatar4.png">
                    </div>
                </div>
            </div>
        </div>
    </div>*@