<script type="text/ng-template" id="home.htm">
    <div ng-controller="HomeController" class="home" ng-cloak>
        <span id="top"></span>
        @Html.Partial("_LoginPartial")
        <h1>Home</h1>
    </div>
</script>

@*<div class="row">
        <div class="col-xs-12">
            <div id="avatar-carousel" class="carousel" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="~/Content/Images/avatar1.png">
                    </div>
                    <div class="item">
                        <img src="~/Content/Images/avatar2.png">
                    </div>
                    <div class="item">
                        <img src="~/Content/Images/avatar3.png">
                    </div>
                    <div class="item">
                        <img src="~/Content/Images/avatar4.png">
                    </div>
                </div>
            </div>
        </div>
    </div>*@