################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/timesheet
/AuthService
/AuthService
/.vs/masegoed/v15
/masegoed
/pavealot
/web/ClassLibrary1
/web/Database/Database.sqlproj
/web/SiteRepository
