<script type="text/ng-template" id="cv.htm">
    <div class="container clearfix">
        <div ng-controller="CvController" ng-cloak>
            <span id="top"></span>
            <header role="banner">
                <div class="">
                    <div class="row">
                        <div class="col-sm-12">
                            <div style="float: right;">
                                <figure class="avatar"></figure>
                            </div>
                            <div style="float: left;">
                                <hgroup class="">
                                    <h1>Ruann LINDE</h1>
                                    <h2>Software Development</h2>
                                </hgroup>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <h3>FREElance and Contract </h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <rl-scrambler scramble-items="model.titles"></rl-scrambler>
                        </div>
                    </div>
                </div>
            </header>
            <br />
            <main>

                @*about*@
                <article class="about-me">
                    <header>
                        <icon-title icon="fa-user" title="About Me"></icon-title>
                    </header>
                    <section>
                        <div class="row">
                            <div class="col-12 gutter">
                                <about-me></about-me>
                            </div>
                        </div>
                    </section>
                </article>
                <br  page-break-after"/>
                
                @*experience*@
                <article>
                    <header>
                        <icon-title icon="fa-briefcase" title="Experience"></icon-title>
                    </header>
                    <section>

                        @*JSE*@
                        <div class="rowr">
                            <div class="col-12 gutter">
                                <div class="jse">
                                    <h2>EOH Highveld<br />Contracting at JSE</h2>
                                    <h3>Senior Developer</h3>
                                    <h4>March 2013 – Present</h4>
                                    <p>
                                        Contracted to the JSE as senior C# programmer, I’ve worked on two major projects. With these projects, I’ve gained a great
                                        deal of experience in agile methodologies and working with complex code.
                                    </p>

                                    <div class="jse-view-more">
                                        <div class="list-group filter-wrap">
                                            <article class="list-group-item">
                                                <header class="filter-header">
                                                    <a href="#" data-toggle="collapse" data-target="#collapse-jse" aria-expanded="true" class="view-more">
                                                        <i class="icon-action fa fa-chevron-down"></i>
                                                        <span>&nbsp;View more...</span>
                                                    </a>
                                                    <div class="filter-content collapse" id="collapse-jse">
                                                        <jse-more></jse-more>
                                                    </div>
                                                </header>
                                            </article>
                                        </div>
                                    </div>

                                    <div class="jse-more">
                                        <jse-more></jse-more>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <hr class="devider" />
                            </div>
                        </div>
                        
                        @*G-Connect*@
                        <div class="row">
                            <div class="col-12 gutter">
                                <div class="g-connect">
                                    <h2>G-Connect</h2>
                                    <h3>Software Development Manager</h3>
                                    <h4>2012 – Feb 2013</h4>
                                    <h3>Technical Lead</h3>
                                    <h4>2009 – 2011</h4>
                                    <h3>Senior Developer</h3>
                                    <h4>March 2006 – 2009</h4>
                                    <p>
                                        Founded in 2002, WirelessG is a South African Wi-Fi Hotspot Service Provider, enabling internet access on a large number of Wi-Fi hotspot locations locally as well as internationally, and also provides Wi-Fi products, on a commercial basis, to the Vodacom subscriber base.
                                    </p>
                                    <div class="g-connect-view-more">
                                        <div class="list-group filter-wrap">
                                            <article class="list-group-item">
                                                <header class="filter-header">
                                                    <a href="#" data-toggle="collapse" data-target="#collapse-g-connect" aria-expanded="true" class="view-more">
                                                        <i class="icon-action fa fa-chevron-down"></i>
                                                        <span>&nbsp;View more...</span>
                                                    </a>
                                                    <div class="filter-content collapse" id="collapse-g-connect">
                                                        <gconnect-more></gconnect-more>
                                                    </div>
                                                </header>
                                            </article>
                                        </div>
                                    </div>

                                    <div class="g-connect-more">
                                        <gconnect-more></gconnect-more>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <hr class="devider" />
                            </div>
                        </div>
                        @*bytes*@
                        <div class="row">
                            <div class="col-12 gutter">
                                <div class="bytes">
                                    <h2>Bytes Technology Group</h2>
                                    <h3>Senior Programmer</h3>
                                    <h4>2004 – Feb 2006</h4>
                                    <h3>Programmer</h3>
                                    <h4>July 2000 - 2004</h4>
                                    <p>
                                        Working in the Microsoft department of Bytes Technologies I was contracted out to various companies like Investec, Rand Merchant Bank and E&Y to assist on development projects
                                    </p>
                                    <div class="bytes-view-more">
                                        <div class="list-group filter-wrap">
                                            <article class="list-group-item">
                                                <header class="filter-header">
                                                    <a href="#" data-toggle="collapse" data-target="#collapse-bytes" aria-expanded="true" class="view-more">
                                                        <i class="icon-action fa fa-chevron-down"></i>
                                                        <span>&nbsp;View more...</span>
                                                    </a>
                                                    <div class="filter-content collapse" id="collapse-bytes">
                                                        <bytes-more></bytes-more>
                                                    </div>
                                                </header>
                                            </article>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12"><br /></div>
                                    </div>
                                    <div id="bytes-more" class="bytes-more">
                                        <div class="list-group filter-wrap">
                                            <bytes-more></bytes-more>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <hr class="devider" />
                            </div>
                        </div>
                        @*ITI*@
                        <div class="row">
                            <div class="col-12 gutter">
                                <div class="iti">
                                    <h2>ITI-Holdings</h2>
                                    <h3>Programmer</h3>
                                    <h4>March 2000 – June 2000</h4>
                                    <p>
                                        Was part of a small team creating a CRM interface.
                                        ITI Holdings merged with Idion Solutions and then later was acquired by CS Holdings and then Bytes Technology group
                                    </p>
                                    <div class="iti-view-more">
                                        <div class="list-group filter-wrap">
                                            <article class="list-group-item">
                                                <header class="filter-header">
                                                    <a href="#" data-toggle="collapse" data-target="#collapse-iti" aria-expanded="true" class="view-more">
                                                        <i class="icon-action fa fa-chevron-down"></i>
                                                        <span>&nbsp;View more...</span>
                                                    </a>
                                                    <div class="filter-content collapse" id="collapse-iti">
                                                        <iti-more></iti-more>
                                                    </div>
                                                </header>
                                            </article>
                                        </div>
                                    </div>
                                    <div class="iti-more">
                                        <iti-more></iti-more>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <hr class="devider" />
                            </div>
                        </div>
                        @*CRUX-IT*@
                        <div class="row">
                            <div class="col-12 gutter">
                                <div class="crux-it">
                                    <h3>Graduate Programmer</h3>
                                    <h2>Crux-IT</h2>
                                    <h4>Sept 1999 – Feb 2000</h4>
                                    <p>
                                        Was contracted to the South African Post Office developing a point of sale system
                                    </p>
                                    <div class="crux-view-more">
                                        <div class="list-group filter-wrap">
                                            <article class="list-group-item">
                                                <header class="filter-header">
                                                    <a href="#" data-toggle="collapse" data-target="#collapse-crux" aria-expanded="true" class="view-more">
                                                        <i class="icon-action fa fa-chevron-down"></i>
                                                        <span>&nbsp;View more...</span>
                                                    </a>
                                                    <div class="filter-content collapse" id="collapse-crux">
                                                        <crux-more></crux-more>
                                                    </div>
                                                </header>
                                            </article>
                                        </div>
                                    </div>
                                    <div class="crux-more">
                                        <crux-more></crux-more>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </section>
                </article>
                <br />
                @*education*@
                <article>
                    <header>
                        <icon-title icon="fa-graduation-cap" title="Education"></icon-title>
                    </header>
                    <section>
                        <div class="row">
                            <div class="col-12 gutter">
                                <div class="pluralsight">
                                    <h2>Pluralsight</h2>
                                    <h4>2018 - Present</h4>
                                    <ul>
                                        <li>
                                            <h3>AngularJS Displaying Data: Data Binding, Directives, and Pipes</h3>
                                            <p>
                                                By John Pappa
                                            </p>
                                        </li>
                                        <li>
                                            <h3>Security Constructs Within AngularJS</h3>
                                            <p>
                                                By John Pappa
                                            </p>
                                        </li>
                                    </ul>
                                    <h4>2017</h4>
                                    <ul>
                                        <li>
                                            <h3>Angular Best Practices</h3>
                                            <p>
                                                By Jim Cooper
                                            </p>
                                        </li>
                                        <li>
                                            <h3>Play by Play: Angular 2 Quick Start</h3>
                                            <p>
                                                with John Papa and Ward Bell
                                            </p>
                                        </li>
                                        <li>
                                            <h3>C# Best Practices: Collections and Generics</h3>
                                            <p>
                                                by Deborah Kurata
                                            </p>
                                        </li>
                                        <li>
                                            <h3>Become a Full-stack .NET Developer</h3>
                                            <p>
                                                by Mosh Hamedani
                                            </p>
                                        </li>
                                    </ul>
                                    <h4>2016</h4>
                                    <ul>
                                        <li>
                                            <h3>SOLID Principles of Object Oriented Design</h3>
                                            <p>
                                                by Steve Smith
                                            </p>
                                        </li>
                                        <li>
                                            <h3>C# Generics</h3>
                                            <p>
                                                by Scott Allen
                                            </p>
                                        </li>
                                        <li>
                                            <h3>C# Best Practices: Improving on the Basics</h3>
                                            <p>
                                                by Deborah Kurata
                                            </p>
                                        </li>
                                    </ul>
                                    <h4>2014</h4>
                                    <ul>
                                        <li>
                                            <h3>AngularJS for .NET Developers</h3>
                                            <p>
                                                by Joe Eames and Jim Cooper
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 gutter">
                                <div class="microsoft">
                                    <h2>Microsoft</h2>
                                    <h4>2002</h4>
                                    <ul>
                                        <li>
                                            <h3>Building XML based web applications</h3>
                                        </li>
                                        <li>
                                            <h3>Designing distributed applications</h3>
                                        </li>
                                    </ul>
                                    <h4>2000</h4>
                                    <ul>
                                        <li>
                                            <h3>Microsoft SQL Server 7 (MCP ID # 2204784)</h3>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 gutter">
                                <div class="ultracomp">
                                    <h2>Ultracomp</h2>
                                    <h4>1999</h4>
                                    <ul>
                                        <li>
                                            <h3>Certificate in Programming</h3>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 gutter">
                                <div class="high-school">
                                    <h2>Matriculated</h2>
                                    <h4>1997</h4>
                                    <ul>
                                        <li>
                                            <h3>Brandwag</h3>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                </article>
                <br />
                @*professional skills*@
                <article>
                    <header>
                        <icon-title icon="fa-address-card" title="Professional Skills"></icon-title>
                    </header>

                    <section>
                        <div class="row">
                            <div class="col-12 gutter">
                                <p>

                                </p>
                            </div>
                        </div>
                    </section>
                </article>
                <br />
                @*Hobbies and Interests*@
                <article>
                    <header>
                        <icon-title icon="fa-futbol-o" title="Hobbies and Interests"></icon-title>
                    </header>

                    <section>
                        <div class="row">
                            <div class="col-12 gutter">
                                <div class="rasberry-pi">
                                    <h2>Rasberry Pi</h2>
                                    <ul>
                                        <li>
                                            <h3>Pi</h3>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 gutter">
                                <div class="iot">
                                    <h2>IoT</h2>
                                    <ul>
                                        <li>
                                            <h3>Internet of Things</h3>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 gutter">
                                <div class="ninjitsu">
                                    <h2>Bujinkan Ninjitsu</h2>
                                    <ul>
                                        <li>
                                            <h3>Ninjitsu</h3>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 gutter">
                                <div class="kick-boxing">
                                    <h2>Kick Boxing</h2>
                                    <ul>
                                        <li>
                                            <h3>MMA</h3>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 gutter">
                                <div class="cdc">
                                    <h2>Casa da Capoeira</h2>
                                    <ul>
                                        <li>
                                            <h3>Capoeira</h3>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 gutter">
                                <div class="health">
                                    <h2>Health and Wellness</h2>
                                    <ul>
                                        <li>
                                            <h3>Meditation - Yoga</h3>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 gutter">
                                <div class="bl">
                                    <h2>Health and Wellness</h2>
                                    <ul>
                                        <li>
                                            <h3>Be Limitless</h3>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                </article>
                <br />
                <article>
                    <header>
                        <icon-title icon="fa-address-card" title="Contact Me"></icon-title>
                    </header>

                    <section>
                        <div class="row">
                            <div class="col-12 gutter">
                                <contact-form-template></contact-form-template>
                            </div>
                        </div>
                    </section>
                </article>
                <br />
            </main>
        </div>
    </div>
</script>
<script type="text/ng-template" id="icon-title.htm">
    <div ng-transclude>
        <span class="icon"><i class="fa fas {{icon}}"></i></span>
        <div class="content">
            <h3>{{title}}</h3>
        </div>
    </div>
</script>
<script type="text/ng-template" id="about-me.htm">
    <p style="text-align: justify;">
        I am looking to advance my experience yet further and am searching for an opportunity to exploit my professional passion. I am passionate about learning new technologies, the ability to apply my knowledge to practical applications to I have the capability of improving and enhancing any organization.
        <br />
        <br />
        Proficient in many software development methodologies, I have proven expertise in developing and managing complex projects. I have excellent technical and communication skills, am a proactive problem solver, self-motivated and highly driven. Most importantly. I love what I do.
        <br />
    </p>
</script>
<script type="text/ng-template" id="jse-more.htm">
    <div class="list-group filter-wrap">
        <div class="filter-content">
            <br />
            <h3>Industry and domain exposure</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="icon"><i class="fa fa-chevron-right"></i></span>
                    <span class="text">Reviewing program objective, input data, and output requirements with analyst, supervisor, and client</span>
                </li>
                <li class="list-group-item">
                    <span class="icon"><i class="fa fa-chevron-right"></i></span>
                    <span class="text">Confirm program operation by conducting tests; modifying program sequence and / or application code</span>
                </li>
                <li class="list-group-item">
                    <span class="icon"><i class="fa fa-chevron-right"></i></span>
                    <span class="text">Managing expectations with business on the progress of a section of work</span>
                </li>
                <li class="list-group-item">
                    <span class="icon"><i class="fa fa-chevron-right"></i></span>
                    <span class="text">Database scripts and integration with Entity Framework and N-Hibernate</span>
                </li>
                <li class="list-group-item">
                    <span class="icon"><i class="fa fa-chevron-right"></i></span>
                    <span class="text">Server Administration using Powershell</span>
                </li>
            </ul>
            <br />
            <h3>Technology</h3>
            <div class="row">
                <div class="col-xs-2 col-md-3">
                    <h2>Languages</h2>
                    <ul class="tumblr">
                        <li class="tumblr-item">C#</li>
                        <li class="tumblr-item">JavaScript</li>
                        <li class="tumblr-item">HTML</li>
                        <li class="tumblr-item">CSS</li>
                        <li class="tumblr-item">T-SQL</li>
                    </ul>
                </div>
                <div class="col-xs-2 col-md-3">
                    <h2>Packages</h2>
                    <rl-tumbler tumblr-items="model.packages" row-count="5"></rl-tumbler>
                </div>
                <div class="col-xs-2 col-md-3">
                    <h2>Tools</h2>
                    <ul class="tumblr">
                        <li class="tumblr-item">Visual Studio 2010 - 2017</li>
                        <li class="tumblr-item">SQL Server Management Studio</li>
                        <li class="tumblr-item">VS Code</li>
                        <li class="tumblr-item">Powershell</li>
                        <li class="tumblr-item">IIS 6 - 7</li>
                    </ul>
                </div>
                <div class="col-xs-4 col-md-3">
                    <h2>Domain Exposure</h2>
                    <ul class="tumblr">
                        <li class="tumblr-item">Agile / Scrum</li>
                        <li class="tumblr-item">Continious Integration</li>
                        <li class="tumblr-item">Single Page Applications</li>
                        <li class="tumblr-item">Test Driven Development</li>
                        <li class="tumblr-item">Object-Oriented Methodologies</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="g-connect-more.htm">
    <div class="list-group filter-wrap">
        <br />
        <h3>Industry and domain exposure</h3>
        <ul class="list-group">
            <li class="list-group-item">
                <span class="icon"><i class="fa fa-chevron-right"></i></span>
                <span class="text">Develop software, architecture, specifications and technical interfaces</span>
            </li>
            <li class="list-group-item">
                <span class="icon"><i class="fa fa-chevron-right"></i></span>
                <span class="text">Develop user interfaces and client displays</span>
            </li>
            <li class="list-group-item">
                <span class="icon"><i class="fa fa-chevron-right"></i></span>
                <span class="text">Build flexible data models and seamless integration points</span>
            </li>
            <li class="list-group-item">
                <span class="icon"><i class="fa fa-chevron-right"></i></span>
                <span class="text">Design, initiate and handle technical designs and complex application features</span>
            </li>
            <li class="list-group-item">
                <span class="icon"><i class="fa fa-chevron-right"></i></span>
                <span class="text">Develop, deliver and test software prototypes</span>
            </li>
            <li class="list-group-item">
                <span class="icon"><i class="fa fa-chevron-right"></i></span>
                <span class="text">Coordinate with other developers and software professionals</span>
            </li>
        </ul>
        <br />
        <h3>Technology</h3>
        <div class="row">
            <div class="col-xs-2 col-md-4">
                <ul class="technology">
                    <li>Language</li>
                    <li>C#</li>
                    <li>Asp.Net</li>
                    <li>Javascript</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>T-SQL</li>
                </ul>
            </div>
            <div class="col-xs-2 col-md-4">
                <ul class="technology">
                    <li>Tools</li>
                    <li>Visual studio</li>
                    <li>MVC</li>
                    <li>Web Forms</li>
                    <li>Windows Forms</li>
                    <li>Wpf</li>
                    <li>Web API</li>
                    <li>Wcf Services</li>
                    <li>jQuery</li>
                    <li>Source Safe</li>
                </ul>
            </div>
            <div class="col-xs-4 col-md-4">
                <ul class="technology">
                    <li>Domain Exposure</li>
                    <li>Waterfall Approach</li>
                    <li>Networking</li>
                    <li>USSD Integration</li>
                    <li>Data Warehousing</li>
                    <li>System Integration</li>
                </ul>
            </div>
        </div>
        <span class="icon icon-gold icon-right"><i class="fa fa-trophy"></i></span>
        <h3>Accomplishments</h3>
        <br />
        <ul class="accomplishments">
            <li>
                <div class="float-left">First Wi-Fi enabled flight in SA</div>
                <div class="float-right">2012</div>
            </li>
            <li>
                <div class="float-left">Achiever of the year</div>
                <div class="float-right">2009</div>
            </li>
            <li>
                <div class="float-left">Innovator of the year</div>
                <div class="float-right">2009</div>
            </li>
            <li>
                <div class="float-left">Innovator of the year</div>
                <div class="float-right">2009</div>
            </li>
            <li>
                <div class="float-left">CEO Cornerstone award</div>
                <div class="float-right">2008</div>
            </li>
            <li>
                <div class="float-left">Employee of the year</div>
                <div class="float-right">2007</div>
            </li>
            <li>
                <div class="float-left">Achiever of the year</div>
                <div class="float-right">2006</div>
            </li>
        </ul>
    </div>
</script>
<script type="text/ng-template" id="bytes-more.htm">
    <div class="filter-content filter-wrap">
        <br />
        <h3>Industry and domain exposure</h3>
        <ul class="list-group">
            <li class="list-group-item">
                <span class="icon"><i class="fa fa-chevron-right"></i></span>
                <span class="text">Developing new software applications in partnership with business analysts and technical architects</span>
            </li>
            <li class="list-group-item">
                <span class="icon"><i class="fa fa-chevron-right"></i></span>
                <span class="text">Upgrading existing software as the user organisation's needs change</span>
            </li>
            <li class="list-group-item">
                <span class="icon"><i class="fa fa-chevron-right"></i></span>
                <span class="text">Preparation of training manuals for users</span>
            </li>
        </ul>
        <br />
        <h3>Technology</h3>
        <div class="row">
            <div class="col-xs-2 col-md-4">
                <h2>Language</h2>
                <ul class="tumblr">
                    <li class="tumblr-item">Visual Basic 6</li>
                    <li class="tumblr-item">ASP</li>
                    <li class="tumblr-item">vbScript</li>
                    <li class="tumblr-item">Javascript</li>
                    <li class="tumblr-item">HTML</li>
                    <li class="tumblr-item">CSS</li>
                    <li class="tumblr-item">T-SQL</li>
                </ul>
            </div>
            <div class="col-xs-2 col-md-4">
                <h2>Tools</h2>
                <ul class="tumblr">
                    <li class="tumblr-item">Visual studio</li>
                    <li class="tumblr-item">Windows Forms</li>
                    <li class="tumblr-item">SQL Server</li>
                    <li class="tumblr-item">IIS</li>
                </ul>
            </div>
            <div class="col-xs-4 col-md-4">
                <h2>Project Exposure</h2>
                <ul class="tumblr">
                    <li class="tumblr-item">Ernst & Young - Extract Analytics results to automated office document</li>
                    <li class="tumblr-item">Investec - Retail Foreighn Exchange Calculator</li>
                    <li class="tumblr-item">In-House Projects</li>
                </ul>
                <h2>Domain Exposure</h2>
                <ul class="tumblr">
                    <li class="tumblr-item">Office Automation</li>
                    <li class="tumblr-item">Corporate Client Communication</li>
                </ul>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="iti-more.htm">
    <div class="filter-content">
        <br />
        <h3>Industry and domain exposure</h3>
        <ul class="list-group">
            <li class="list-group-item">
                <span class="icon"><i class="fa fa-chevron-right"></i></span>
                <span class="text">Customer-relationship management</span>
            </li>
            <li class="list-group-item">
                <span class="icon"><i class="fa fa-chevron-right"></i></span>
                <span class="text">Team Collaboration</span>
            </li>
        </ul>
        <br />
        <h3>Technology</h3>
        <div class="row">
            <div class="col-xs-2 col-md-4">
                <ul class="technology">
                    <li>Language</li>
                    <li>ASP</li>
                    <li>vbScript</li>
                    <li>HTML</li>
                    <li>CSS</li>
                </ul>
            </div>
            <div class="col-xs-2 col-md-4">
                <ul class="technology">
                    <li>Tools</li>
                    <li>Visual studio</li>
                    <li>Active Server Pages</li>
                </ul>
            </div>
            <div class="col-xs-4 col-md-4">
                <ul class="technology">
                    <li>Project Exposure</li>
                    <li>Online CRM System</li>
                </ul>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="crux-more.htm">
    <div class="filter-content filter-wrap">
        <br />
        <h3>Industry and domain exposure</h3>
        <ul class="list-group">
            <li class="list-group-item">
                <span class="icon"><i class="fa fa-chevron-right"></i></span>
                <span class="text">System Support</span>
            </li>
            <li class="list-group-item">
                <span class="icon"><i class="fa fa-chevron-right"></i></span>
                <span class="text">Writing of code</span>
            </li>
        </ul>
        <br />
        <h3>Technology</h3>
        <div class="row">
            <div class="col-xs-2 col-md-4">
                <ul class="technology">
                    <li>Language</li>
                    <li>IBM VisualAge for Java for OS/2</li>
                </ul>
            </div>
            <div class="col-xs-2 col-md-4">
                <ul class="technology">
                    <li>Tools</li>
                    <li><a href="https://en.wikipedia.org/wiki/OS/2" target="_blank">OS/ 2</a></li>
                </ul>
            </div>
            <div class="col-xs-4 col-md-4">
                <ul class="technology">
                    <li>Project Exposure</li>
                    <li>SAPO - Point of sale</li>
                </ul>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="timeline.htm">
    <ul class="timeline">
        <li class="event" data-date="March 2013 – Present">
            <h3>Senior Software Developer</h3>
            <div class="media">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">JSE</h5>
                    <p style="text-align: justify;">
                        Contracted to the JSE as senior C# programmer, I’ve worked on two major projects. With these projects, I’ve gained a great
                        deal of experience in agile methodologies and working with complex code.
                    </p>
                </div>

            </div>
        </li>
        <li class="event" data-date="March 2006 - March 2013">
            <div class="media">
                <h3>Senior Software Developer</h3>
                <div class="media-body">
                    <h5 class="mt-0 mb-1">G-Connect</h5>
                    <p style="text-align: justify; padding:5px;">
                        Founded in 2002, WirelessG is a South African Wi-Fi Hotspot Service Provider, enabling internet access on a large number of Wi-Fi hotspot locations locally as well as internationally, and also provides Wi-Fi products, on a commercial basis, to the Vodacom subscriber base. G-Connect
                    </p>
                </div>
                <span class="icon"><i class="fa fa-building"></i></span>
            </div>
            <ul class="h-timeline">
                <li class="h-event" data-date="2012 - March 2013">
                    <span>Development Manager</span>
                </li>
                <li class="h-event" data-date="2009 - 2011">
                    <span>Senior Developer</span>
                </li>
                <li class="h-event" data-date="March 2006 - 2009">
                    <span>Technical Team Lead</span>
                </li>
            </ul>
        </li>
        <li class="event" data-date="July 2000 - Feb 2006">
            <h3>Software Developer</h3>
            <div class="media">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">Bytes Technology</h5>
                </div>

            </div>
        </li>
        <li class="event" data-date="">
            <h3>Software Developer</h3>
            <div class="media">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">Bytes</h5>
                </div>
            </div>
        </li>
    </ul>
</script>
<script type="text/ng-template" id="contact.htm">
    <div>
        <div ng-show="model.showThankYou()" class="animated fadeInOut thank-you">
            <h3>Thank You, {{model.contactMessage.FirstName}}</h3>
            <p>We will keep your email safe and will not distribute...</p>
        </div>
        <form id="contactForm" name="contactForm" ng-submit="submitContactForm(contactForm.$valid)" novalidate ng-show="!model.showThankYou()">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Name" id="name" name="name" ng-model="model.contact.name" required="" ng-class="{'is-invalid':contactForm.name.$invalid && !contactForm.name.$pristine }" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Surname" id="surname" name="surname" ng-model="model.contact.surname" required="" ng-class="{'is-invalid':contactForm.surname.$invalid && !contactForm.surname.$pristine }" />
            </div>
            <div class="form-group has-error has-feedback">
                <input type="email" class="form-control" id="email" name="email" placeholder="Email" ng-model="model.contact.email" required="" ng-class="{'is-invalid':contactForm.email.$invalid && !contactForm.email.$pristine }" />
                <p ng-show="contactForm.email.$invalid && !contactForm.email.$pristine" class="text-danger">Enter a valid email.</p>
            </div>
            <div class="form-group has-error has-feedback">
                <textarea id="message" name="message" class="form-control" rows="10" cols="50" placeholder="Your Message" ng-model="model.contact.message" required="" ng-class="{'is-invalid':contactForm.message.$invalid && !contactForm.message.$pristine }"></textarea>
            </div>
            <div class="" style="text-align:center;">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
</script>
