@import url("https://fonts.googleapis.com/css?family=Chivo:300,300i,400,400i,700,700i,900,900i|Saira+Extra+Condensed:100,200,300,400,500,600,700,800|Saira:100,200,300,400,500,600,700,800");
@-webkit-keyframes typing {
  from {
    width: 0; } }

@-webkit-keyframes blink-caret {
  50% {
    border-color: transparent; } }

@keyframes shine {
  10% {
    opacity: 1;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
    transition-duration: 0.9s, 0.9s, 0.15s;
    transition-timing-function: ease; }
  100% {
    opacity: 0;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity; } }

html {
  position: relative;
  min-height: 100%;
  margin: 0; }

body {
  display: block;
  background-image: none;
  margin-bottom: 45px !important;
  min-height: 100%;
  font-size: 12px;
  transition: all .3s ease;
  -webkit-overflow-scrolling: touch; }

.weather-body {
  background-color: #595959 !important;
  color: #ccc !important; }

/*.web-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding-top: 69px;
    transition: all .3s ease;
}*/
/*header {
    display: none;
    height: 0;
}*/
.header-image {
  background-image: none; }

.navbar-brand {
  text-shadow: 0 0 15px dodgerblue, 0 0 15px indigo !important;
  box-shadow: 0 0 15px dodgerblue, 0 0 15px indigo !important;
  border-color: white;
  border-style: solid;
  border-width: 3px;
  min-width: 51px;
  text-align: center;
  border-radius: 3px; }

.nav-item {
  font-family: 'Share Tech Mono', monospace;
  color: white;
  min-width: 99px;
  text-align: center; }
  .nav-item a :hover {
    color: white;
    text-shadow: 0 0 15px dodgerblue, 0 0 15px indigo !important; }
  .nav-item :hover {
    border-bottom: 1px solid dodgerblue;
    background-color: dodgerblue;
    border-radius: 3px; }
  .nav-item .active {
    background-color: dodgerblue;
    color: white; }

.bg-dark {
  background-color: #fff !important;
  border-bottom: 1px solid indigo !important; }

.fas {
  font-weight: 400 !important; }

.context-menu {
  width: 252px; }

.title {
  font-family: 'Share Tech Mono', monospace;
  color: white;
  font-size: 42px;
  text-align: left;
  text-shadow: 0 0 15px dodgerblue, 0 0 15px indigo; }

.content {
  margin-top: 0px;
  margin-left: 72px;
  min-height: 60px;
  padding-top: 0; }

.footer {
  bottom: 0;
  width: 100%;
  position: absolute;
  line-height: 45px;
  background-color: #595959 !important;
  color: #ccc !important;
  height: 45px; }
  .footer a {
    display: block;
    padding: 6px;
    color: #5c5c5c; }

/* Set padding to keep content from hitting the edges */
.body-content {
  padding: 21px; }

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal; }

/* Set width on the form input elements since they're 100% wide by default */
.no-padding {
  margin: 0 !important;
  padding: 0 !important; }

/* Set padding to display errors that occur during databinding */
.padding-error {
  padding-top: 21px; }

.profile {
  color: dodgerblue;
  border: solid;
  border-width: 1px;
  border-color: dodgerblue;
  box-shadow: -15px 15px 9px dodgerblue; }
  .profile p {
    padding: 12px;
    text-align: justify; }

.carousel {
  width: 162px !important;
  height: 166px !important;
  float: right;
  border: solid 3px dodgerblue !important;
  margin-top: -24px; }

.home .row {
  padding-top: 5px !important; }

.icon-green {
  text-shadow: 0 0 15px green, 0 0 15px green !important; }

.icon-blue {
  text-shadow: 0 0 15px dodgerblue, 0 0 15px dodgerblue !important; }

.icon-indigo {
  text-shadow: 0 0 15px indigo, 0 0 15px indigo !important; }

.icon-red {
  color: darkred !important; }

.icon-orange {
  text-shadow: 0 0 15px orangered, 0 0 15px orangered !important; }

.icon-gold {
  color: gold !important; }

.icon-brown {
  color: saddlebrown; }

/*#region scrambler */
.scramble-container {
  border-style: dashed;
  border-width: 1px;
  border-color: #ccc;
  padding-top: 0;
  border-radius: 3px;
  min-height: 50px;
  box-shadow: 5px 5px 10px #ccc;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 99.5% 50%;
  background-size: 30px 30px; }

.scramble-item {
  position: relative;
  float: left;
  color: #808080;
  font-size: 18px;
  min-height: 60px;
  min-width: 60%;
  padding-top: 15px; }
  .scramble-item span {
    background-repeat: no-repeat;
    padding-left: 15px;
    padding-top: 15px;
    background-size: 60px 60px !important;
    background-position: top right !important;
    min-width: 99px !important;
    line-height: 16px; }

.dud {
  color: #808080; }

.c-sharp {
  background-image: url(Images/c-sharp.png) !important; }

.bootstrap {
  background-image: url(Images/bootstrap.png) !important; }

.angular {
  background-image: url(Images/angular.png) !important; }

.javascript {
  background-image: url(Images/javascript.png); }

.jquery {
  background-image: url(Images/jquery.png);
  background-size: 95px 40px; }

.sql {
  background-image: url(Images/sql.png);
  background-size: 85px 50px; }

.mysql {
  background-image: url(Images/mysql.jpg);
  background-size: 100px 50px; }

.sql-lite {
  background-image: url(Images/sql-lite.png);
  background-size: 110px 50px; }

.azure {
  background-image: url(Images/azure-logo.png);
  background-size: 85px 50px; }

.quick-books {
  background-image: url(Images/quick-books-logo.png);
  background-size: 150px 50px; }

.html5 {
  background-image: url(Images/html5.png); }

.css3 {
  background-image: url(Images/css3.png); }

.kendo {
  background-image: url(Images/kendo-logo.png);
  background-size: 150px 50px; }

.nodejs {
  background-image: url(Images/nodejs-logo.png);
  background-size: 150px 50px; }

.webapi {
  background-image: url(Images/webapi-logo.png);
  background-size: 85px 50px; }

.wcf {
  background-image: url(Images/wcf-logo.png);
  background-size: 100px 50px; }

.google-developers {
  background-image: url(Images/google_developers_logo.png);
  background-size: 200px 50px; }

.micros-fidelio {
  background-image: url(Images/micros-fidelio-logo.png);
  background-size: 100px 50px; }

.itext {
  background-image: url(Images/itext-logo.png);
  background-size: 120px 45px; }

.micros-fidelio {
  background-image: url(Images/micros-fidelio-logo.png);
  background-size: 100px 50px; }

.msoffice {
  background-image: url(Images/msoffice.png);
  background-size: 100px 50px; }

.c-sharp, .bootstrap, .javascript, .angular, .html5, .css3 {
  background-size: 50px 50px; }

/*#endregion */
.input-group-prepend {
  border-style: none;
  font-family: 'Share Tech Mono', monospace; }

/*.input-group > .custom-select:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}*/
.cell-highlight {
  border: solid 1px red; }

.clock {
  font-size: 30px; }

.pull-right {
  float: right; }

.weather-forecast {
  list-style: none; }

.weather-content {
  text-align: center;
  float: left;
  width: 120px;
  height: 120px; }

.weather-block {
  float: left;
  width: 120px;
  height: 120px; }

.cube-wrap {
  /*perspective: 800px;
    perspective-origin: 50% 100px;*/
  /* no more perspective */
  perspective: none;
  perspective-origin: 0 0; }

.cube {
  position: relative;
  width: 200px;
  transform-style: preserve-3d; }

.cube div {
  position: absolute;
  width: 200px;
  height: 200px; }

.back {
  transform: translateZ(-100px) rotateY(180deg); }

.right {
  transform: rotateY(-270deg) translateX(100px);
  transform-origin: top right; }

.left {
  transform: rotateY(270deg) translateX(-100px);
  transform-origin: center left; }

.top {
  transform: rotateX(-90deg) translateY(-100px);
  transform-origin: top center; }

.bottom {
  transform: rotateX(90deg) translateY(100px);
  transform-origin: bottom center; }

.front {
  transform: translateZ(100px); }

@keyframes spin {
  from {
    transform: rotateY(0); }
  to {
    transform: rotateY(360deg); } }

.cube {
  animation: spin 5s infinite linear; }

@keyframes spin-vertical {
  from {
    transform: rotateX(0); }
  to {
    transform: rotateX(-360deg); } }

.cube-wrap.vertical .cube {
  margin: 0 auto;
  /* keeps the cube centered */
  transform-origin: 0 100px;
  animation: spin-vertical 5s infinite linear; }

.cube-wrap.vertical .top {
  transform: rotateX(-270deg) translateY(-100px); }

.cube-wrap.vertical .back {
  transform: translateZ(-100px) rotateX(180deg); }

.cube-wrap.vertical .bottom {
  transform: rotateX(-90deg) translateY(100px); }

.timesheet {
  background-color: #595959 !important;
  padding: 21px;
  border-radius: 5px; }
  .timesheet input,
  .timesheet select,
  .timesheet textarea {
    max-width: 280px;
    font-family: "Chivo", sans-serif;
    font-size: 12px;
    border-style: solid !important;
    border-color: dodgerblue !important;
    background-color: #555 !important;
    color: #fff;
    text-shadow: 0 0 20px dodgerblue, 0 0 20px indigo;
    text-align: center; }
  .timesheet .input-group > .form-control:not(:last-child), .timesheet .input-group > .custom-select:not(:last-child) {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px; }
  .timesheet .input-group input {
    border-style: solid !important;
    border-width: 1px !important;
    border-left: none !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    text-shadow: 0 0 20px dodgerblue, 0 0 20px indigo; }
    .timesheet .input-group input :active {
      border-left: none !important; }
  .timesheet .day-label {
    font-family: 'Share Tech Mono', monospace !important;
    font-size: 20px !important;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 0 20px dodgerblue, 0 0 20px indigo; }
  .timesheet .total-hours {
    font-family: 'Share Tech Mono', monospace;
    font-size: 30px !important;
    padding-top: 15px; }
  .timesheet .ts-icon {
    color: #fff;
    font-size: 40px;
    float: left;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    line-height: 50px;
    padding-top: 10px;
    padding-left: 10px; }
  .timesheet .clock {
    font-family: 'Share Tech Mono', monospace;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 0 20px dodgerblue, 0 0 20px indigo;
    padding-left: 100px; }
    .timesheet .clock .clock-time {
      letter-spacing: 0.05em;
      font-size: 40px;
      padding: 5px 0; }
    .timesheet .clock .clock-date {
      letter-spacing: 0.1em;
      font-size: 24px; }
    .timesheet .clock .clock-seconds {
      letter-spacing: 0.1em;
      font-size: 40px;
      padding: 20px 0 0; }
    .timesheet .clock .clock-text {
      letter-spacing: 0.1em;
      font-size: 16px;
      padding: 20px 0 0; }
  .timesheet .input-group-text {
    font-family: 'Share Tech Mono', monospace;
    border-style: solid !important;
    border-color: dodgerblue !important;
    background-color: #555 !important;
    color: #fff;
    min-width: 110px; }
  .timesheet .custom-select {
    font-family: 'Share Tech Mono', monospace;
    font-size: 14px;
    border-left: 0;
    border-right: 1px;
    border-top: 1px !important;
    border-bottom: 1px;
    border-style: solid !important;
    border-color: dodgerblue !important;
    background-color: #555 !important;
    color: #fff;
    border-radius: 3px; }
  .timesheet .btn-custom {
    font-family: 'Share Tech Mono', monospace;
    background-color: #555 !important;
    color: #fff;
    border-radius: 3px;
    border-color: dodgerblue !important;
    box-shadow: 0 0 3px dodgerblue, 0 0 3px dodgerblue;
    cursor: pointer;
    max-height: 30px; }
    .timesheet .btn-custom :hover {
      text-shadow: 20px 12px 2px dodgerblue; }
  .timesheet .timesheet-item {
    text-align: center !important; }
    .timesheet .timesheet-item .day {
      color: #fff !important;
      font-size: 14px !important;
      text-shadow: 0 0 20px dodgerblue, 0 0 20px indigo; }
    .timesheet .timesheet-item .hours {
      color: dodgerblue !important; }
  .timesheet .total-hours {
    font-size: 18px;
    text-align: center;
    text-shadow: 0 0 5px indigo, 0 0 2px indigo; }
