<?xml version="1.0"?>
<connectionStrings>
	<!--SQLServerDBConnectionString="server=cassandra.aserv.co.za,1434;uid=ruanndld_user;pwd=K-7+kfHi84Qm;database=ruanndld_db"-->
	<!--<add name="ApplicationDatabaseContext" connectionString="Data Source=.;Initial Catalog=ruanndld_db;Integrated Security=SSPI;Connection Timeout=900; MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
	<add name="ApplicationDatabaseContext" connectionString="Data Source=cassandra.aserv.co.za,1434;Initial Catalog=ruanndld_db;User ID=ruanndld_user;Password=K-7+kfHi84Qm;Connection Timeout=900; MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
</connectionStrings>