<?xml version="1.0"?>
<elmah>
	<security allowRemoteAccess="false" />
	<errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="ApplicationDatabaseContext" />
	<errorMail from="error@ruannlinde.co.za" to="info@ruannlinde.co.za" subject="ruannlinde.co.za ELMAH " async="true" useSsl="false" noYsod="false" />
</elmah>