<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="Cache-control" content="public">

	<title>Ruann LINDE @ViewBag.Title</title>
	<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<meta name="description" content="Ruann Linde">
	<meta name="keywords" content="HTML,CSS,XML,JavaScript,AngularJs,Software Development, Programming, Pretoria, Freelance, Websites, Garsfontein">
	<meta name="author" content="Ruann Linde">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

	<link href="~/Content/font-awesome.css" rel="stylesheet" />

	<link href="~/Content/animate.min.css" rel="stylesheet" />

	<script src="~/Scripts/modernizr-2.8.3.js"></script>

	<link href="~/Content/Main.min.css" rel="stylesheet" />
	<link href="~/Content/CV.min.css" rel="stylesheet" />
	<base href="/">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-38341478-2"></script>
	<script async>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-38341478-2');
	</script>
</head>
<body ng-app="rlApp">
	<div class="web-content" ng-controller="BaseController">
		<main class="body-content {{layout}}" role="main" ng-class="">
			@RenderBody()
			<div ng-include src="template"></div>
		</main>
		<footer class="footer">
			<div class="container">
				<span class="text-muted">
					&copy; @DateTime.Now.Year
				</span>
			</div>
		</footer>
	</div>

	<script src="~/Scripts/jquery-3.3.1.min.js"></script>
	<script src="~/Scripts/jquery.validate.min.js"></script>

	<script src="~/Scripts/umd/popper.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
	<script src="~/Scripts/respond.min.js"></script>

	<script src="~/Scripts/angular.min.js"></script>
	<script src="~/Scripts/angular-route.min.js"></script>
	<script src="~/Scripts/angular-animate.min.js"></script>
	<script src="~/Scripts/ng-infinate-scroll.js"></script>
	<script src="~/Scripts/ngStorage.js"></script>

	<script src="~/Scripts/FileAPI.min.js"></script>
	<script src="~/Scripts/ng-file-upload.min.js"></script>
	<script src="~/Scripts/ng-file-upload-shim.min.js"></script>

	@Scripts.Render("~/bundles/app")

</body>
</html>
